@use "sass:color";

* {
    vertical-align: top;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    //    background-color: $color-lightgrey;
}

body {
    color: $white;
    background: $black;
    font-family:
        /* English first */
        Arial,
        Helvetica,
        "Microsoft JhengHei",
        /* Chinese first */
        "PingFang TC",
        /* mac */
        "Noto Sans TC",
        /* Android / fallback Chinese */
        /* System fallback */
        sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
    transition:
        color 0.5s,
        background-color 0.5s;
}

h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    // margin-top: 16px;
    
}

h2 {
    font-size: 42px;
    font-weight: bolder;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-top: 24px;
}

a {
    text-decoration: none;
    color: $color-darkgery;
}

.btn {
    width: 160px;
    height: 44px;
    font-size: 14px;
    font-weight: 500;
    color: $color-white;
    border: 2px solid transparent;
    background-color: $color-purple;
    border-radius: 4px;
    letter-spacing: 0px;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
        font-weight: 600;
        // color: lighten($color-purple, 30%);
        // color: color.adjust($color-purple, $lightness: 30%);
        background: none;
        background-color: transparent;
        border-color: $color-purple;
    }
}

.point {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: $color-white;
    transform: scale(0.8);
    transition: all 0.3s ease;

    &:hover {
        background-color: $color-white;
        transform: scale(1);
    }

    &:hover::before {
        opacity: 1;
        visibility: visible;
    }

    &:hover::after {
        animation: pointscale-02 2s ease-out infinite;
    }


    &::before {
        content: "商品";
        position: absolute;
        visibility: hidden;
        opacity: 0;
        white-space: nowrap;
        text-align: center;
        padding: 4px 8px;
        border-radius: 4px;
        top: -32px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        background-color: rgba($color-white, 0.7); // 加 50% 透明度
        backdrop-filter: blur(2px);
        color: $color-darkgery;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1); // ✅ 初始狀態
        animation: pointscale-01 4s ease-out infinite;
    }

    @keyframes pointscale-01 {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }

        50% {
            transform: translate(-50%, -50%) scale(1.3);
            opacity: 0.3;
        }

        100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }

    @keyframes pointscale-02 {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }

        50% {
            transform: translate(-50%, -50%) scale(1.4);
            opacity: 0.2;
        }

        100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }

}

.swiper-btn {
    width: 40px !important;
    height: 60px !important;
    opacity: 0 !important;

    border-radius: 5px;
    background-color: transparent;
    color: $color-purple !important;
    transition: all 0.3s ease-in-out;

    &:hover {
        // color: color.adjust($color-purple, $lightness: -10%) !important;
        background-color: $color-white;
        transform: scale(1.2);
        box-shadow: $shadow-set;
    }
}

input[type="checkbox"] {
    accent-color: $color-purple;
    /* 你想要的顏色（藍色示範） */
}

input {
    caret-color: $color-purple;
    outline: none;
    border-width: 1px;

    &::placeholder {
        color: $color-darkgery;
        opacity: 0.7;
    }
}

.strike {
    text-decoration: line-through;
    color: #999;
    opacity: 0.8;
    font-size: 14px;
}

.redcharacter {
    color: $color-red;
    font-weight: bolder;
}

.content-area {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 32px;
    transition: all 0.3s ease;

    @media screen and (max-width: 670px) {
        padding: 0px 16px;
    }
}


.margin-topbottom {
    padding: 48px 0px;
}

.card {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 6px;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        border-radius: 6px;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.3s ease-out;
    }

    &:hover::after {
        height: 100%;
        box-shadow: $shadow-set;
    }

    >* {
        position: relative;
        z-index: 2;
    }

    .item-pic {
        height: auto;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 6px;
        overflow: hidden;
        display: flex;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .item-text {
        padding: 16px 8px 32px;
        text-align: center;
        width: 100%;
        // overflow-wrap: break-word; //不超出容器

        h5 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            /* 文字溢出顯示省略號 */
            width: 100%;

        }
    }
}

ul {
    padding-left: 0px;
}

li {
    list-style: none;
}