@mixin center {
    display: grid;
    place-items: center;
}

@mixin baseFlexCenter ($justify: space-between,
    $align: center,
    $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin baseTransition($property: all, $time: 0.4s, $ease: ease) {
    transition: $property $time $ease;
}