// _variables.scss
$white: #fff;
$black: #181818;
$indigo: #2c3e50;

$color-black: #0a0a0a;
$color-white: #fafafa;
$color-lightgrey: #f0f0f0;
$color-middlekgery: #e0e0e0;
$color-darkgery: #2c2c2c;
// $color-blue: #a02fec;
$color-blue: #00b8fc;
$color-purple: #a02fec;
$color-red: #e71818;
$header-color: #000000;
$header-bgcolor: #eeeeee;

$row01-margin-top: 64px;
$r5-text-area-left-right: 60px;
$shadow-set: 0px 0px 6px 1px rgba(22, 22, 22, 0.4);

//header高度設定
$headerHeight: 70px;
//間距大小設定
$ClampRWD:clamp(8px, 1.5vw, 16px);