// _variables.scss
$white: #fff;
$black: #181818;
$indigo: #0b0e11;
$indigo11: #2c3e50;

// Neutral
$color-white: rgb(250, 250, 250);
$color-black: rgb(10, 10, 10);
$color-gray-50:  #fafafa; // 幾乎白，page 背景
$color-gray-100: #f0f0f0; // surface 
$color-gray-200: #e0e0e0; // border 
$color-gray-300: #c8c8c8; // disabled 
$color-gray-400: #a0a0a0; // placeholder 
$color-gray-500: #787878; // 次要文字
$color-gray-600: #5f5f5f; // 輔助文字
$color-gray-700: #333333; // 主要文字
$color-gray-800: #222222; // 深色文字
$color-gray-900: #141414; // 最深背景
// Brand
$color-purple-300: #cb8cf5;
$color-purple-500: #a02fec;
$color-purple-700: #690fa6;

$color-blue: #00b8fc;
$color-red-300: #ff5555;
$color-red-500: #e71818;

$shadow-set: 0px 0px 6px 1px rgba(22, 22, 22, 0.4);
//header高度設定
$headerHeight: 70px;
//間距大小設定
$padding-RWD: clamp(16px, 4vw, 32px);

/* CSS 變數預設值 */
//  一般淺色背景使用 
:root {
    --primary: #{$color-white}; // 70
    --secondary: #{$color-gray-200}; // 20
    --inverse: #{$color-black}; // 10
    //  ========== Text =========
    --text-primary: #{$color-black}; // 主要文字（標題 / 內文）
    --text-secondary: #{$color-gray-800}; // 次要文字（說明 / 輔助）
    --text-tertiary: #{$color-gray-600}; // 次要輔助文字
    --text-inverse: #{$color-gray-100}; // 深色背景上的文字
    --text-inverse-soft: #{$color-gray-200}; // 淺色背景上的文
    //    ========== Background =========
    --bg-page: #{$color-gray-200}; // 整頁背景（body / main）
    --bg-header: 250, 250, 250; // Header / Navbar 背景
    --bg-footer: #{$color-gray-200}; // footer 背景
    --bg-surface: #{$color-gray-100}; // 一般內容區 
    --bg-surface-soft: #{$color-white}; // 內容內層（更亮）
    --bg-surface-strong: #{$color-gray-200}; // 分區 / 強調區（更暗）
    --bg-surface-card: #{$color-gray-50}; // 卡片
    --bg-surface-contrast: #{$color-gray-900}; // 對比的 surface
    --bg-surface-glass: rgba(2, 2, 3, 0.7); // 對比的 surface
    // ========== Border =========
    --border-default: #{$color-gray-400}; // 一般邊框
    --border-soft: #{$color-gray-800}; // 一般邊框
    //  ========== Brand =========
    --brand: #{$color-purple-500}; // 品牌主色
    --brand-hover: #{$color-purple-500}; // hover / active
    --brand-soft: #{$color-purple-300}; // 淡色背景 / badge
    // ========== Action =========
    --action-primary: var(--brand); // 主 CTA
    --action-primary-hover: var(--brand-soft);
    --action-primary-soft: var(--brand-soft);
    --shadow-default: 0px 3px 4px 0px rgba(22, 22, 22, 0.4);
    --shadow-focus: 0 0px 4px 1px rgba(31, 31, 31, 0.4);
    //  ========== State =========
    --state-danger: #{$color-red-500}; // 錯誤 / 刪除
}

//    深色背景使用 
@media (prefers-color-scheme: dark) {
    :root {
        // ========== base =========
        --primary: #{$color-black}; // 70
        --secondary: #{$color-gray-800}; // 20
        --inverse: #{$color-white}; // 10
        // ========== Text =========
        --text-primary: #{$color-white}; // 主要文字
        --text-secondary: #{$color-gray-200}; // 次要文字
        --text-tertiary: #{$color-gray-400}; // 次要輔助文字
        --text-inverse: #{$color-gray-800}; // 淺色背景上的文字
        --text-inverse-soft: #{$color-gray-700}; // 淺色背景上的文
        //  ========== Background =========
        --bg-page: #{$color-gray-800}; // 整頁最底背景
        --bg-header:10, 10, 10; // Header / Navbar 背景
        --bg-footer: #{$color-black}; // footer 背景
        --bg-surface: #{$color-gray-900}; // 一般內容區
        --bg-surface-soft: #{$color-gray-800}; // 內容內層（較亮）
        --bg-surface-strong: #{$color-black}; // 分區 / 強調區（較暗）
        --bg-surface-card: #{$color-gray-200}; //卡片
        --bg-surface-contrast: #{$color-gray-100}; // 對比的 surface
        --bg-surface-glass: rgba(255, 255, 255, 0.6); // 對比的 surface
        /* ========== Border ========= */
        --border-default: #{$color-gray-600}; // 邊框（避免過亮）
        --border-soft: #{$color-gray-100}; // 邊框（避免過亮）
        //   ========== Brand =========
        --brand: #{$color-purple-500}; // 品牌主色
        --brand-hover: #{$color-purple-300}; // hover / active（更亮）
        --brand-soft: #{$color-purple-700}; // 淡色 / 背景用途
        //  ========== Action ========= 
        --action-primary: var(--brand);
        --action-primary-hover: var(--brand);
        --action-primary-soft: var(--brand-soft);
        --shadow-default: 0px 3px 4px 0px rgba(12, 12, 12, 0.4);
        /* 浮起元件 / Dropdown / Modal */
        --shadow-focus: 0 0px 4px 1px rgba(36, 36, 36, 0.4);
        // /========== State ========= 
        --state-danger: #{$color-red-500}; // 錯誤
    }
}