// _variables.scss
$white: #fff;
$black: #181818;
$indigo: #2c3e50;

$color-black: #0a0a0a; // 接近黑（主文字）
$color-white: #fafafa; // 接近白（page background）

$color-gray-100: #f2f2f2; // 區塊背景 / 分隔區
$color-gray-200: #e2e2e2; // border / divider
$color-gray-500: #808080;
$color-gray-800: #2f2f2f; // 深色文字 / header

// $color-blue: #a02fec;
$color-blue: #00b8fc;
$color-purple-300: #cb8cf5;
$color-purple-500: #a02fec;
$color-purple-700: #690fa6;

$color-red: #e71818;
$header-color: #000000;
$header-bgcolor: #eeeeee;

$row01-margin-top: 64px;
$r5-text-area-left-right: 60px;
$shadow-set: 0px 0px 6px 1px rgba(22, 22, 22, 0.4);

//header高度設定
$headerHeight: 70px;
//間距大小設定
$ClampRWD: clamp(8px, 1.5vw, 16px);

/* CSS 變數預設值（全域語意色） */
:root {
    /* light mode */
    --color-title: #{$color-gray-800};
    --color-text: #{$color-gray-200};
}

@media (prefers-color-scheme: dark) {
    :root {
        /* dark mode */
        --color-title: #{$color-white};
        --color-text: #{$color-gray-200};
    }
}